* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #50C878; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #50C878, #00693E);
}

#projetos {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: space-around;
    height: 4.5vh;
    width: 12%;
    border-radius: 0 0 3% 0;
    background: rgba(255, 255, 255, 0.6);
}

h3 {
    margin-top: 1px;
    font-size: 24px;
    color: #50C878
}

#index{ /*Overlay*//*                                  fazer animação                                  */
        /* Decorar texto (ítens) do menu */
    
    height: 50px;
    width: 129px;
    background: rgba(255, 255, 255, 0.6);
    border: solid 1px #50C878;
    border-style: outset;
    border-radius: 4%;
    transform: translate(25% , 1%);

    /* visibility: hidden; */
    z-index: 999;
}

main {
    font-family: 'Varela Round', sans-serif;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#card {
    height: 380px;
    width: 550px;
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

#card img{
    margin: 20px 0 0 20px;
}

div#cardDescricao p#meuNome{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

div#cardDescricao p#textoDescricao{
    margin: 10px 10px 0 20px;
    text-align: justify;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.cardBotoes{
display: flex;
justify-content: space-around;
}

a {
    text-decoration: none;
    color: #00693E;
}

div#cardDescricao .botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    margin: 20px 0 0 0;
    text-align: center;
    height: 30px;
    width: 90px;
    background-color: white;
    border: solid 2px #50C878;
    transition: box-shadow 500ms;
}

div#cardDescricao .botoes:hover {
    box-shadow: 0 0 8px 4px #50C878;
}

footer {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.5vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
}
